*{
    padding: 0;
    margin: 0;      
    box-sizing: border-box;
}
body{
    max-width: 1550px;
    margin: 0 auto;
    padding-inline: 32px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
