header img {
    width: 160px;
    height: 90px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

ul {
    display: flex;
    gap: 24px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

li a {
    color: #333333;
    padding: 8px;
}

.botao-contato{
    background-color: #9b6fb5;
    border-radius: 8px;
    color: #fff;
    padding: 10px 18px;
}

li a:hover {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #9b6fb5;
}
